@media screen and (min-width:950px) {
    * {
        margin: 0;
        padding: 0;
        /* border: 1px solid rgb(135, 160, 214); */
        font-family: 'Poppins', sans-serif;
        text-decoration: none;
        list-style-type: none;
    }
    
    h1 {
        font-size: 50px;
        font-weight: 500;
    }

    h2 {
        font-size: 24px;
    }

    h3 {
        font-size: 18px;
    }

    p {
        font-size: 16px;
    }

    li {
        font-size: 16px;
    }
    
    p {
        font-size: 16px;
    }
    
    a {
        font-size: 16px;
    }

    
    .c-scrollbar {
        z-index: 11;
        display: block;
    }
    
    .sections {
        height: 100vh;
        min-height: 950px;
        flex-direction: row;
        margin-bottom: unset;
        justify-content: unset;
    }
    
    .btn-container {
        margin-top: 25px;
    }
    
    #header #navbar {
        display: flex;
    }
    
    #section-1 {
        flex-direction: column;
        margin-top: unset;
    }
    
    #section-1 .left-container {
        margin-top: 10%;
        align-items: flex-end;
        justify-content: unset;
    }
    
    #section-1 .left-container .description {
        width: 50%;
    }
    
    #section-2 {
        align-items: center;
        justify-content: space-between;
    }

    #section-2 .content {
        flex-wrap: nowrap;
        align-items: center;
        justify-content: space-between;
        height: 100vh;
        width: 100%;
        min-height: 700px;
        display: flex;
        padding-left: 8%;
        padding-right: 8%;
    }
    
    #section-2 .left-container {
        z-index: unset;
        position: relative;
        width: unset;
        left: unset;
        transform: unset;
        top: unset;
        height: unset;
    }
    
    #section-2 .right-container {
        flex-direction: column;
        text-align: center;
        height: 100%;
        z-index: unset;
        position: relative;
        width: unset;
        float: unset;
        height: unset;
        top: unset;
        left: unset;
        transform: unset;
    }
    
    #section-2 .phone {
        align-self: flex-end;
        height: 100%;
        width: unset;
        display: flex;
        align-items: center;
        justify-content: center;

        z-index: unset;
        position: relative;
        top: unset;
        transform: unset;
    }
    
    #section-2 .phone img {
        height: 80%;
        max-height: 80%;
    }

    #section-2 .spec {
        border-radius: unset;
        border: unset;
        margin-bottom: unset;
        background-color: none;
        height: unset;
        width: unset;
    }
        
    #section-2 .right-container .informations {
        background-color: unset;
        border-radius: unset;
        border: unset;
        height: unset;
        width: unset;
    }
    
    #section-3 .top-container .card {
        height: 90%;
        width: 30%;
        min-width: 30%;
    }
    
    #section-3 .top-container .card .presentation {
        margin-top: 20px;
    }
    
    #section-3 .top-container .card .thumbnail {
        min-height: 285px;
    }
    
    #section-3 .bottom-container {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-evenly;
        background-color: #F8F9FB;
        height: 40%;
        padding: 20px 10%;
    }
    
    #section-3 .bottom-container .left-container,
    #section-3 .bottom-container .right-container {
        width: 30%;
        max-width: 30%;
        height: 100%;
        margin-top: unset;
    }
    
    #section-3 .bottom-container .presentation p {
        margin-top: unset;
    }
    
    #section-3 .mid-container {
        display: block;
        width: 30%;
        max-width: 30%;
    }
    
    #section-4 {
        flex-wrap: wrap;
        flex-direction: row;
        height: 100vh;
    }
    
    #section-4 .container {
        /* max-width: 580px;
        min-width: 560px;
        min-height: 45%;
        max-height: 50%; */
        width: 45%;
        min-width: 45%;
        max-width: 45%;
        height: 45%;
        min-height: 45%;
        max-height: 45%;
        margin-bottom: unset;
    }
    
    #section-5 {
        height: 100vh;
        padding: 0;
    }
    
    #section-5 .top-container {
        height: 300px;
        margin-bottom: unset;
    }
    
    #section-5 .top-container .heading {
        padding: 25px 0px;
    }
    
    #section-5 .top-container .paragraphs {
        flex-direction: row;
        margin-left: unset;
        margin-right: unset;
    }
    
    #section-5 .top-container .paragraphs div {
        width: 30%;
        margin: 0px 15px;
    }
    
    #section-5 .bottom-container {
        height: 70%;
        flex-direction: row;
    }
    
    #section-5 .bottom-container .left-container {
        width: 50%;
        max-width: 50%;
        height: 100%;
    }
    
    #section-5 .bottom-container .right-container {
        height: 100%;
        width: 50%;
        max-width: 50%;
    }
    
    #section-5 .bottom-container .right-container .description {
        margin-top: 5%;
    }
    
    #section-5 .bottom-container .right-container .icon-container {
        flex-wrap: wrap;
        width: 50%;
        min-width: 310px;
        margin-top: 5%;
    }
    
    #section-5 .bottom-container .right-container .icon-container .icon {
        width: 150px;
        height: 150px;
    }
    
    #section-6 {
        padding: 0;
        height: 100vh;
    }
    
    #section-6 .content {
        flex-direction: row;
        width: 100%;
        height: 70%;
    }
    
    #section-6 .right-container {
        order: 2;
        width: 50vw;
        max-width: 50%;
        height: 100%;
        align-items: flex-end;
        justify-content: flex-end;
        margin-bottom: unset;
    }
    
    #section-6 .left-container {
        order: 1;
        width: 50%;
        max-width: 50%;
    }

    #section-6 .left-container .description {
        margin-bottom: unset;
    }
    
    
    #section-6 .bottom-container .description {
        text-align: center;
        margin-bottom: unset;
    }
    
    #section-7 {
        flex-direction: column;
        height: 100vh;
    }
    
    #section-7 .content {
        flex-direction: row;
        height: 70%;
    }
    
    #section-7 .content .card h2,
    #section-7 .content .card h3 {
        writing-mode: unset;
    }

    #section-7 .content .card {
        display: block;
        width: unset;
    }

    #section-7 .content .card .btn {
        margin-top: unset;
    }

    #section-7 .content .card .card-content {
        display: block;
    }
    
    #section-7 .bottom-container {
        height: 30%;
        justify-content: space-evenly;
        display: flex;
        flex-direction: row;
    }
    
    #section-7 .bottom-container .presentation {
        width: 20%;
        padding-right: 25px;
        margin-top: unset;
    }
    
    #section-7 .bottom-container .presentation:nth-child(1) {
        width: 40%;
        padding-right: 50px;
    }
}
